
header {
    background-color:darkslateblue;
    color: lightsalmon;
    text-align: center;
    padding: 25px 0px;
    margin-bottom: 25px;
}

main {
    background-color: lightblue;
    width: 600px;
    padding: 30px;
    border: solid darkslateblue 5px;
}

.different-dinos {
    width: 100%;
}

footer {
    background-color: darkslateblue;
    color: lightsalmon;
    text-align: center;
    padding: 25px 0;
    margin-top: 25px;
}